:root {
  --text-color: rgb(3, 8, 0);
  --menu-color: rgba(0, 0, 0, 25%);
  --transition-menu-color: rgba(0, 0, 0, 40%);
  --border-color: 1px solid #000a;
}

body.dark-theme {
  --text-color: #fff;
  --menu-color: rgba(255, 255, 255, 10%);
  --transition-menu-color: rgba(255, 255, 255, 20%);
  --border-color: 1px solid #aaa4;
}

.season-column {
  width: 100%;
  max-width: 80%;
  border: var(--border-color);
  border-radius: 1em;
  padding-bottom: 1em;
  margin-bottom: 20px;
}

.season-episodes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.season-episodes a {
  color: var(--text-color);
  text-decoration: none;
}

.episode-card {
  display: flex;
  width: 10%;
  min-width: 80px;
  flex-shrink: 0;
  height: 4em;
  border: var(--border-color);
  border-radius: 1em;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  background-color: var(--menu-color);
  transition: background-color 0.1s ease;
}

.episode-card:hover {
  background-color: var(--transition-menu-color);
}

.episode-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.episode-desc a {
  color: var(--text-color);
  text-decoration: none;
}

.episode-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    text-align: left;
    margin-top: -2em;
}

.episode-content h3, h4 {
    margin-bottom: 0.25em;
}

.episode-content h4 {
    margin-top: 0.5em;
}

.episode-content p {
    margin-top: 0.5em;
}

.episode-content ul {
    margin-top: 0.1em;
    margin-bottom: -1.5em;
}
